.Cell button {
  width: 30px;
  height: 30px;
  background-color: #ccffcc;
  padding: 0;
  margin: 2px;
  min-width: 20px;
}

.Cell button:hover {
  background-color: #000;
}

.row {
  display: flex;
}

.Cell button.firstPlayer {
  background-color: #0000ff;
}

.Cell button.secondPlayer {
    background-color: #ff0000;
}
